body{
	margin: 0px;
	padding: 0px;
}
.container-fluid{
	width: 100%;
}
.container{
	width: 100%;
}
.navbar{
	background-color: #3db2e1;
}































































